.carousel-caption h2 {
 font-size: 75px;
 color: rgb(0, 0, 0);
 text-shadow: #fff 2px 3px 2px;
}
.carousel-caption p {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: #fff 2px 2px 2px;
   }
 .navbar {
       background-color: #000!important;
     
   }
   .navbar a {
       color: #fff!important;
   }
   .navbar a:hover {
    color: rgb(139, 153, 139)!important;
   /* font-weight: bold; */
}

.footer {
    background-color: #000;
    padding-top: 30px; color:#fff;
    padding-bottom: 30px;
}
.content {
    background-color: #cccccc;
    
}
.carousel-indicators li {
    background-color: #000;
}
.destaque-home {

}
.destaque-item {
    margin: 20px;
    text-align: center;
    /* border: 1px solid #000; */
}
.destaque-item h4 {
  text-align: center;
}
.destaque-item img {
    max-width: 100%;
}
.footer .status a{
    color: #fff;

}
.footer .status a:hover {text-decoration: none;}
.footer2 { background-color: rgb(31, 31, 31);  padding-top: 20px; color:#fff;
    padding-bottom: 20px; text-align: center;}

    .icon-footer-big {font-size: 70px;color: #57a58e;}
.btn-blotti {background-color: #57a58e;}
.btn-blotti:hover {background-color: rgb(31, 31, 31);}